         	<div class ="post-user col-xs-6">
        		<%= attachment_image_tag post.user, :profile_image, fallback: "no-image.png", style: "width: 50px; height: 50px;",class:"profile-image" %>
          		<%= @post.user.name %>
         	</div>
            <div class ="col-xs-6 text-right">
          	 	<p><%= post.created_at.strftime('%Y/%m/%d/%R') %></p>
          	</div>
            <div class ="post-image-frame text-center">
               <%= attachment_image_tag(post, :image, fallback: "no-image.png", class: "post-image") %>
            </div>
            <div class ="post-list-title col-xs-6">
            	<h3><%= post.title %></h3>
            </div>
            <div class ="col-xs-6 text-right">
            	<h4><%= post.category.name %></h4>
            </div>
           
            <div class="post-list-text col-xs-12">
              <P><%= post.text %></P>
            </div>

           
			