 <% posts.each do |post| %>
  <div class ="post-frame  col-lg-6 col-xs-12">
          <div class ="post-user col-sm-offset-1 col-sm-11">
            <%= link_to users_user_path(post.user) do %>
              <%= attachment_image_tag post.user, :profile_image, fallback: "no-image.png", style: "width: 50px; height: 50px;",class:"profile-image" %>
            <% end %>
              <%= post.user.name %></br>
          </div>
        <% if user_signed_in? %>
          <%= link_to users_post_path(post) do %>
            <div class ="post-image-frame text-center">
              <span class="masking-tape"></span>
               <%= attachment_image_tag(post, :image, fallback: "no-image.png", class: "post-image") %>
            </div>
          <% end %>
          
          <% else %>
          <%= link_to hosts_post_path(post) do %>
            <div class ="post-image-frame text-center">
              <span class="masking-tape"></span>
               <%= attachment_image_tag(post, :image, fallback: "no-image.png", class: "post-image") %>
            </div>
          <% end %>
        <% end %>
            <div class ="post-list-title col-xs-6">
              <h3><%= post.title %></h3>
            </div>
            <div class ="col-xs-6 text-right">
              <%= link_to contents_users_post_path (post.category.id) do %>
              <h4><%= post.category.name %></h4>
              <% end %>
            </div>
           
            <div class="post-list-text col-xs-12">
              <P><%= post.text %></P>
            </div>

            <% if user_signed_in? %>
            <div class ="col-xs-offset-7 col-xs-2 text-right" id ="favorites_buttons_<%= post.id%>">
               <%= render  'users/posts/favorite', post: post %>
             </div>
             <div class ="col-xs-3 text-right">
              <i class="far fa-comment fa-2x"></i>
                <%= post.comments.count %>件
            </div>
            <% end %>
          </div>
<% end %>

