<div class ="container">
	<div class ="row">
		 <div class ="post-frame col-xs-offset-3 col-xs-6">
           <div class ="post-user col-xs-6">
        	<%= attachment_image_tag @post.user, :profile_image, fallback: "no-image.png", style: "width: 50px; height: 50px;",class:"profile-image" %>
           <%= @post.user.name %>
          </div>
          <div class ="col-xs-6 text-right">
          	 <p><%= @post.created_at.strftime('%Y/%m/%d/%R') %></p>
          	</div>
            <div class ="post-image-frame text-center">
               <%= attachment_image_tag(@post, :image, fallback: "no-image.png", class: "post-image") %>
            </div>
            <div class ="post-list-title col-xs-6">
              <h3><%= @post.title %></h3>
            </div>
            <div class ="col-xs-6 text-right">
              <h4><%= @post.category.name %></h4>
            </div>
           
            <div class="post-list-text col-xs-12">
              <P><%= @post.text %></P>
            </div>
            <div class ="text-right">
		<% if @post.favorited_by?(current_user) %>
			  <%= link_to post_favorites_path(@post), method: :delete do %>
			    <i class="far fa-heart" aria-hidden="true" style="color: red;"></i>
			    <%= @post.favorites.count %> いいね
			  <% end %>
			<% else %>
			  <%= link_to post_favorites_path(@post), method: :post do %>
			    <i class="far fa-heart" aria-hidden="true"></i>
			    <%= @post.favorites.count %> いいね
			  <% end %>
			<% end %>
		</div>

		<%= form_for [@post, @comment] do |f| %>
			<div class ="comment col-xs-12">
				<%= f.label :"コメントを書き込む" %>
				<%= f.text_area :comment,class: "form-control" %>
				<div class ="action col-xs-6">
					<%= f.submit "送信する", class: "btn-block btn-primary" %>
				</div>
				<div class ="col-xs-6 text-right">
					<% if @post.user.id == current_user.id %>
								<%= link_to users_post_path(@post), method: :delete, "data-confirm" => "本当に消しますか？" do %>
									<button type="button" class="btn btn-danger" aria-label="Left Align">投稿を削除</button>
								<% end %>
						<% end %>
				</div>
			</div>
		<% end %>
		<% @post.comments.each do |comment| %>
			<div class ="col-xs-12">
				<div class ="col-xs-4">
					<%= link_to users_user_path(comment.user) do %>
					<%= attachment_image_tag(comment.user, :profile_image, fallback: "no-image.png", style: "width: 60px; height: 60px;") %>
					<% end %>
				</div>
				<div class ="comment col-xs-8">
					<%= comment.comment %>
				</div>
			</div>
			<% end %>
		</div>
	</div>
</div>
