<div class ="container">
	<div class ="row">
		<div class ="post-frame col-xs-offset-3 col-xs-6">
         	<div class ="post-user col-xs-6">
        		<%= attachment_image_tag @post.user, :profile_image, fallback: "no-image.png", style: "width: 50px; height: 50px;",class:"profile-image" %>
          		<%= @post.user.name %>
         	</div>
            <div class ="col-xs-6 text-right">
          	 	<p><%= @post.created_at.strftime('%Y/%m/%d/%R') %></p>
          	</div>
            <div class ="post-image-frame text-center">
               <%= attachment_image_tag(@post, :image, fallback: "no-image.png", class: "post-image") %>
            </div>
            <div class ="post-list-title col-xs-6">
            	<h3><%= @post.title %></h3>
            </div>
            <div class ="col-xs-6 text-right">
            	<h4><%= @post.category.name %></h4>
            </div>
           
            <div class="post-list-text col-xs-12">
              <P><%= @post.text %></P>
            </div>

            <div class ="col-xs-offset-8 col-xs-4 text-right" id ="favorites_buttons_<%= @post.id%>">
				<%= render  'users/posts/favorite', post: @post %>
			</div>
			<div class ="col-xs-2 text-right">
				<% if @post.user.id == current_user.id %>
					<%= link_to users_post_path(@post), method: :delete, "data-confirm" => "本当に消しますか？" do %>
						<button type="button" class="btn btn-danger" aria-label="Left Align"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
					<% end %>
				<% end %>
			</div>
			

			<% if user_signed_in? %>
		     <!-- コメント入力欄をブログの詳細ページに表示するためのrender -->
		    <%= render partial: 'comments/form', locals: { comment: @comment, post: @post } %>
		  	<% end %>
			<div id="comments_area"><!-- #① -->
	      <!-- 投稿されたコメント一覧をブログの詳細ページに表示するためのrender -->
	     		 <%= render partial: 'comments/index', locals: { post: @post ,comments: @comment } %>
	    	</div>  
	    </div>
	</div>
</div>