<div class ="topic-list">
  <% topics.each do |topic| %>
    <% if host_signed_in? %>
      <%=link_to hosts_topic_path(topic) do %>
        <div class ="topic-list-body  col-xs-12">
          <div class ="topic-head col-xs-12">
             <div class ="topic-time col-xs-2">
               <p><%= topic.created_at.strftime('%Y/%m/%d/%R') %></p>
             </div>
             <div class ="topic-category col-xs-offset-6 col-xs-4 text-right">
               <h4><%= topic.category.name %></h4>
              </div>
          </div>

          <div class ="topic-title text-center col-xs-9">
            <h3><%= topic.title %></h3>
          </div>
          <div class ="topic-image text-right col-xs-3">
            <%= attachment_image_tag(topic, :image, class: "topic-list-image") %>
          </div>
        </div>
      <% end %>
    <% elsif user_signed_in? %>
      <%= link_to users_topic_path(topic) do %>
        <div class ="topic-list-body  col-xs-12">
          <div class ="topic-head col-xs-12">
            <div class ="topic-time col-xs-2">
              <p><%= topic.created_at.strftime('%Y/%m/%d/%R') %></p>
            </div>
            <div class ="topic-category col-xs-offset-6 col-xs-4 text-right">
              <P><%= topic.category.name %></P>
            </div>
          </div>

          <div class ="topic-title text-center col-xs-9">
            <h3><%= topic.title %></h3>
          </div>
          <div class ="topic-image text-right col-xs-3">
            <%= attachment_image_tag(topic, :image, class: "topic-list-image") %>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>