<div class ="container">
	<div class ="row">
		<div class ="create-topics col-lg-offset-2 col-lg-8 col-xs-offset-1 col-xs-10 text-center">
			<div class ="create-topics-headline">
				<h2 class ="page-title text-center">トピック編集</h2>
			</div>
			 <%= render "users/shared/error_messages", resource: @topic %>
	<%= form_for(@topic, url: hosts_topic_path, method: :patch)do |f| %>
				<div class ="create-topic-image text-center">
			 		<%=  attachment_image_tag(@topic, :image, fallback: "no-image.png",style: "width: 100%; height: 100%;") %>
		 	 	</div>
		 		<div class ="select-image col-xs-6">
		 			<%= f.attachment_field :image %>
				</div>

		 	<div class ="field col-xs-12">
		 		<%= f.label :"タイトル" %></br>
		 		<%= f.text_field :title, class: "form-control"  %>
		 	</div>

			<div class ="field body col-xs-12">
			 	<%= f.label :"本文" %></br>
		 		<%= f.text_area :text, class: "form-control",size: "20x10" %>
		 	</div>
		 	<div class ="col-xs-12 text-right">
					<%= f.label :"ジャンル" %>
 					<%= f.collection_select(:category_id, @categories, :id, :name, prompt: "-- 選択してください --") %>
 			</div>

			<div class ="actions col-xs-12">
		 		<%= f.submit "編集を保存します", class: "btn-block btn-primary" %>
		 	</div>
		 <% end %>
		</div>
	</div>
	</div>
<script>
$(function(){
    // inputのidから情報の取得
    $('#topic_image').on('change', function (e) {
// ここから既存の画像のurlの取得
    var reader = new FileReader();
    reader.onload = function (e) {
        $(".image").attr('src', e.target.result);
    }
// ここまで
    reader.readAsDataURL(e.target.files[0]); //取得したurlにアップロード画像のurlを挿入
});
});

</script>