	<div class="user-info">
		<div class ="user-image text-center">
			<%= attachment_image_tag user, :profile_image, style: "width:230px; heigth: 230px;", fallback: "no-image.png", class:"profile-image" %>
		</div>
		<tbody>
		<table class="table">
			<tbody>
			<tr>
				<td>name</td>
				<td> <%= user.name %></td>
			</tr>
			<tr>
				<td>intrduction</td>
			</tr>

			<tr>
			<td colspan="2"><%= user.introduction %></td>
			</tr>

			<tr>
				<td>following</td>
				<td><% user ||= current_user %>
				  <div class="stats">
				   <%= link_to following_users_user_path(user) do%>
			    <strong id="following" class="stat">
				     <%= user.followings.count %>
				 </strong>
				 <% end %>
				   </div>
          		</td>
          	</tr>
          	<tr>
          	    <td id ="followers">followers</td>
			<td><% user ||= current_user %>
			  <div class="stats">
			   <%= link_to followers_users_user_path(user) do%>
			    <strong id="followers" class="stat">
				     <%= user.followers.count %>
				 </strong>
				 <% end %>
			   </div>
			</td>
			</tr>
			<td id="follow_form">
				<%= render "follow_form" %>
			</td>
		</tbody>
	</table>
		
	<%if user.id == current_user.id %>
		<%= link_to edit_users_user_path(current_user.id) do %>
			<button type="button" class="btn btn-default btn-block"><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
			</button>
		<% end %>
	<% else %>
		<div>
			<% if @user.id == current_user.id %>
				    <%= @msg %>
				<% else %>
				    <% if @is_room == true %>
				        <p><%= link_to 'DMへ', room_path(@room_id) %></p>
				    <% else %>
				        <%= form_for @room do |f| %>
				            <%= fields_for @entry do |e|%>
				                <% e.hidden_field :user_id, value: @user.id %>
				            <% end %>
				        <%= f.submit "DMを開始する"%>
				        <% end %>
				    <% end %>
				<% end %>
			</div>
	<% end %>
</div>