	<div class="user-info">
		<div class ="user-image text-center">
			<%= attachment_image_tag user, :profile_image, style: "width:230px; heigth: 230px;", fallback: "no-image.png", class:"profile-image" %>
		</div>
		<tbody>
		<table class="table">
			<tbody>
				<tr>
					<td>name</td>
					<td> <%= user.name %></td>
				</tr>
				<tr>
					<td>intrduction</td>
				</tr>

				<tr>
				<td colspan="2"><%= user.introduction %></td>
				</tr>

				<tr>
					<td>following</td>
					<td><% user ||= current_user %>
					  <div class="stats">
					   <%= link_to following_users_user_path(user) do%>
				    <strong id="following" class="stat">
					     <%= user.followings.count %>
					 </strong>
					 <% end %>
					   </div>
	          		</td>
	          	</tr>
	          	<tr>
	          	    <td id ="followers">followers</td>
				<td><% user ||= current_user %>
				  <div class="stats">
				   <%= link_to followers_users_user_path(user) do%>
				    <strong id="followers" class="stat">
					     <%= user.followers.count %>
					 </strong>
					 <% end %>
				   </div>
				</td>
				</tr>
		<% if user_signed_in? %>
				<td colspan="2", id="follow_form">
					<%= render "users/users/follow_form" %>
				</td>
			</tbody>
		</table>
		<% elsif host_signed_in? %>
			</tbody>
		</table>
		<%= form_with model: @user, local: true, url: hosts_user_path(@user.id), method: :patch  do |f| %>
 				<div class="checkbox">
                   <%= f.radio_button :is_deleted, :false %>
                   <%= f.label :is_deleted,"有効",{value: :true, style: "display :inline-block;",} %>
                   <%= f.radio_button :is_deleted, :true %>
                   <%= f.label :is_deleted,"退会済み", {value: :false, style: "display :inline-block;"} %>
                   <%= f.submit "更新", class: "btn btn-primary"  %>
				</div>
		<% end %>



			<% end %>
		
		
	
</div>