<div id ="container-fluid">
	<h1 class ="text-center">Pioneerへようこそ</h1>
	<div id="theTarget">
		<div class ="image1"></div>
		<div class ="image2"></div>
		<div class ="image3"></div>
		<div class ="image4"></div>
		<div class ="image5"></div>
	</div>
</div>
	<div class ="container">
		<div class ="row">
			<div class ="top-new-post">
				<h2 class ="text-center">新規足跡</h2>
					<div class ="top-post-list">
						<div class ="top-post-item">
							<%= link_to users_post_path(@post[0]) do %>
								<%= attachment_image_tag(@post[0], :image, fallback: "no-image.png", class: "top-post col-xs-4") %></br>
								<h3 class ="text-center"><%= @post[0].title %></h3>
							<% end %>
						</div>
					
						<div class ="top-post-item">
							<%= link_to users_post_path(@post[1]) do %>
								<%= attachment_image_tag(@post[1], :image, fallback: "no-image.png", class: "top-post col-xs-4") %></br>
								<h3 class ="text-center"><%= @post[1].title %></h3>
							<% end %>
						</div>

						<div class ="top-post-item">
							<%= link_to users_post_path(@post[2]) do %>
								<%= attachment_image_tag(@post[2], :image, fallback: "no-image.png", class: "top-post col-xs-4") %></br>
							<% end %>
							<h3 class ="text-center"><%= @post[2].title %></h3>
						</div>
					</div>
			</div>

			<div class ="top-post">
				<h3 class ="text-center">新規トピック</h3>
					<div class ="top-topic-list">
						<div class ="top-topic-item">
							<%= link_to users_topic_path(@topic[0]) do %>
								<%= attachment_image_tag(@topic[0], :image, fallback: "no-image.png", class: "top-topic col-xs-2") %>
							<% end %>
						</div>

					<div class="top-topic-item">
							<h3><%= @topic[0].title %></h3></br>
							<P><%= @topic[0].text %></P>
					</div>

					<div class ="top-topic-item">
							<%= link_to users_topic_path(@topic[1]) do %>
								<%= attachment_image_tag(@topic[1], :image, fallback: "no-image.png", class: "top-topic col-xs-2") %>
							<% end %>
					</div>

					<div class="top-topic-item">
						<h3><%= @topic[1].title %></h3></br>
						<P><%= @topic[1].text %></P>
					</div>

					<div class ="top-topic-item">
						<%= link_to users_topic_path(@topic[2]) do %>
						<%= attachment_image_tag(@topic[2], :image, fallback: "no-image.png", class: "top-topic col-xs-2") %>
						<% end %>
					</div>

					<div class="top-topic-item">
						<h3><%= @topic[2].title %></h3></br>
						<P><%= @topic[2].text %></P>
					</div>

					<div class ="top-topic-item">
						<%= link_to users_topic_path(@topic[3]) do %>
							<%= attachment_image_tag(@topic[3], :image, fallback: "no-image.png", class: "top-topic col-xs-2") %>
						<% end %>
					</div>

					<div class="top-topic-item">
						<h3><%= @topic[3].title %></h3></br>
						<P><%= @topic[3].text %></P>
					</div>
			</div>

		</div>
	</div>
</div>


