<!DOCTYPE html>
<html>
  <head>
    <title>Pioneer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>
    <div class ="header_flex">
      <div class ="header-headline">
        <%= image_tag 'logo.png' ,style: "width: 200px; height: 100px;" %>
      </div>

      <div class ="search">
          <%= form_tag(search_path, method: :get) do %>


          　　<%= select_tag 'range' ,options_for_select([['---選択してください---', ''], ['ユーザーネーム', '1'], ['足跡', '2'], ['トピック', '3']]) %>

             　　<%= select_tag 'find', options_for_select([["完全一致","perfect_match"], ["部分一致","partial_match"]]) %>
             　　<%= text_field_tag (:word) %>
             　　<%= submit_tag "検索",class: "btn btn-info" %>
             <% end %>
        </div>
      </div>

      <div class ="bottan text-center col-xs-12">
        <nav>
          <ul class ="nav-list ">
            <% if user_signed_in? %>
            <!-- 投稿する -->
              <li class ="nav-list-item">
                <%= link_to new_users_post_path, title: "新規投稿" do %>
                   <i class="fas fa-plus-square fa-2x"></i>
                <% end %>
              </li>
            <!--  DM -->
               <li class ="nav-list-item">
                 <%= link_to rooms_path, title: "DM" do %>
                   <i class="fas fa-comments fa-2x"></i>
                  <% end %>
                </li>
         
                <li class ="nav-list-item">
                  <%= link_to users_notifications_path, title: "通知" do %>
                    <i class="fas fa-bell fa-2x"></i>
                  <% end %>
                </li>
                <% if unchecked_notifications.any? %>
                   <i class="fa fa-circle" style="color: red;"></i>
                <% end %>
            <!-- ログアウト　-->
                  <li class="nav-list-item">
                   <%= link_to destroy_user_session_path, method: :delete, title: "ログアウト" do %>
                      <i class="fas fa-sign-out-alt fa-2x"></i>
                    <% end %>
                  </li>
             <!-- プロフィール　-->
                  <li class = "nav-list-item">
                    <%= link_to users_user_path(current_user) do %>
                    <div class ="customer-name">
                      <%= attachment_image_tag current_user, :profile_image, fallback: "no-image.png",  style: "width: 50px; height: 40px;",class:"profile-image",title: "マイページ" %>
                      <% end %><%= current_user.name %>
                    </div>
                  </li>
         
             <% elsif host_signed_in? %>
             <!-- トピック新規投稿　-->
                  <li class ="nav-list-item">
                    <%= link_to new_hosts_topic_path do %>
                      <i class="fas fa-plus-square fa-2x"></i>
                    <% end %>
                  </li>
                  <!-- 問い合わせ -->
                  <li class ="nav-list-item">
                      <i class="fas fa-envelope fa-2x"></i>
                  </li>

                    <!-- ログアウト　-->
                  <li class="nav-list-item">
                    <%= link_to destroy_host_session_path, method: :delete do %>
                      <i class="fas fa-sign-out-alt fa-2x "></i>
                    <% end %>
                  </li>
                  
                  <li class ="nav-list-item">
                    管理者ログイン
                  </li>
           <!-- 新規登録 -->
             <% else %>
                  <li class="nav-list-item">
                      <%= link_to new_user_registration_path do %>
                        <i class="fas fa-user-plus fa-2x"></i>
                      <% end %>
                    </li>
                      <!-- ログイン　-->
                    <li class="nav-list-item">
                      <%= link_to new_user_session_path  do %>
                        <i class="fas fa-sign-in-alt fa-2x"></i>
                      <% end %>
                    </li>
              <% end %>
            </ul>
          </nav>
        </div>
  </header>

  <body>
    <%= yield %>
  </body>

  <footer>
    <% if  host_signed_in? %>
     <nav class ="nav-wrap">
        <ul class="nav-list">
          <li class ="nav-list-item">
              <p><%= link_to "Home", root_path %></p>
          </li>

           <li class="nav-list-item">
              <p><%= link_to "About", homes_about_path %></p>
          </li>
          <li class="nav-list-item">
              <p><%= link_to "User", hosts_users_path %></p>
          </li>
          
          <li class="nav-list-item">
              <p><%= link_to "Topic", hosts_topics_path %></p>
          </li>

          <li class ="nav-list-item">
              <p><%= link_to "TimeLine", hosts_posts_path %></p>
          </li>
        </ul>
      </nav>
       <div class ="foooter-bottom">
      <p class ="text-center">© All rights reserved by dmmwebcamp.</p>
    </div>

    <% elsif user_signed_in? %>
      <nav class ="nav-wrap">
        <ul class="nav-list">
          <li class ="nav-list-item">
             <p> <%= link_to "Home", root_path %></p>
          </li>

           <li class="nav-list-item">
             <p> <%= link_to "About", homes_about_path %></p>
          </li>
          <li class="nav-list-item">
              <p><%= link_to "Timeline", users_posts_path %></p>
          </li>
          <li class="nav-list-item">
              <p><%= link_to "Topic", users_topics_path %></p>
          </li>

          <li class ="nav-list-item">
             <p> <%= link_to "contact", new_contact_path %></p>
          </li>
        </ul>
      </nav>
      <div class ="foooter-bottom">
        <p class ="text-center">© All rights reserved by dmmwebcamp.</p>
      </div>
    <% end %>
 </footer>
</html>