<!DOCTYPE html>
<html>
  <head>
    <title>Pioneer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>
    <div class ="header-headline">
            <h1>Pioneer</h1>
    </div>
         <!--　ユーザーがログインしている時　-->
        <% if user_signed_in? %>
      <div class ="header-item">
        <nav>
          <ul class ="nav-list">
            <!-- 投稿する -->
            <li class ="nav-list-item">
              <%= link_to new_users_post_path do %>
              <i class="fas fa-plus-square fa-2x"></i>
              <% end %>
            </li>
         <!-- ログアウト　-->
          <li class="nav-list-item">
                <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fas fa-sign-out-alt fa-2x"></i>
                <% end %>
          </li>
          <li class = "nav-list-item">
            <!-- プロフィール　-->
             <div class ="customer-name">
            <%= attachment_image_tag @user, :profile_image, fallback: "no-image.png",  style: "width: 50px; height: 40px;",class:"profile-image" %><%= current_user.name %>
            </div>
          </li>
        </ul>
      </nav>


        <% elsif host_signed_in? %>

             <li class ="nav-list-item">
               <%= link_to new_hosts_topics_path do %>
                <i class="fas fa-plus-square fa-3x"></i>
               <% end %>
            </li>

              <!-- ログアウト　-->
              <li class="nav-list-item">
                <%= link_to destroy_host_session_path, method: :delete do %>
                <i class="fas fa-sign-out-alt"></i> %>
                <% end %>
              </li>
            </ul>
          </nav>

        <% else %>
              <!-- 新規登録 -->
              <li class="nav-list-item">
                <%= link_to new_user_registration_path do %>
                <i class="fas fa-user-plus"></i>
              </li>
              <% end %>
              <!-- ログイン　-->
              <li class="nav-list-item">
                <%= link_to new_user_session_path  do %>
                <i class="fas fa-sign-in-alt"></i>
                <% end %>
              </li>
        <% end %>
      </div>
    </div>
  </header>

  <body>
    <%= yield %>
  </body>

  <footer>
    <nav class ="nav-wrap">
      <ul class="nav-list">
    <li class ="nav-list-item">
        <%= link_to "Home", root_path %>
    </li>

     <li class="nav-list-item">
        <%= link_to "About", homes_about_path %>
    </li>
    <li class="nav-list-item">
        <%= link_to "Timeline", users_posts_path %>
    </li>
    <li class="nav-list-item">
        <%= link_to "Topic", users_topics_path(current_user) %>
    </li>

    <li class ="nav-list-item">
        <%= link_to "contact", new_contact_path %>
    </li>
  </ul>
   </nav>
   <p class ="text-center">© All rights reserved by dmmwebcamp.</p>

 </footer>


</html>
