<!DOCTYPE html>
<html>
  <head>
    <title>Pioneer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>
    <div class ="header-title">
      <nav>
        <% if host_signed_in? %>
          <!-- ホストのトップページへリンク -->
          <%= link_to hosts_topics_path do %>
            <h1 class ="headline">Pioneer</h1>
            <% end %>
        <% else %>
          <%= link_to root_path do %>
            <h1 class ="headline">Pioneer</h1>
          <% end %>
        <% end %>
      </nav>
    </div>
         <!--　ユーザーがログインしている時　-->
    <div class ="header_flex">
        <% if user_signed_in? %>
          <div class ="customer-name">
            <p>ようこそ、<%current_user.name %>　様!</p>
          </div>
          <nav class ="nav-wrap">
             <ul class="nav-list">
              <li class="nav-list-item">
                <%= link_to "足跡一覧", users_posts_path %>
              </li>
              <li class="nav-list-item">
                <%= link_to "トピック一覧", users_topic_path(current_user) %>
              </li>
              <li class="nav-list-item">
                <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
              </li>
            </ul>
          </nav>


        <% elsif host_signed_in? %>
          <nav class ="nav-wrap">
            <ul class="nav-list">
              <li class="nav-list-item">
                <%= link_to "足跡一覧", users_posts_path %>
              </li>
              <li class="nav-list-item">
                <%= link_to "トピック一覧", hosts_topics_path %>
                <li class="nav-list-item">
                  <%= link_to "カテゴリー一覧", hosts_categories_path %>
              </li>
              <li class="nav-list-item">
                <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
              </li>
            </ul>
          </nav>

        <% else %>
          <nav class ="nav-wrap">
            <ul class="nav-list">
              <li class="nav-list-item">
               <%= link_to "About", homes_about_path %>
              </li>
              <li class="nav-list-item">
                <%= link_to "足跡一覧", users_posts_path %>
              </li>
              <li class="nav-list-item">
                <%= link_to "トピック一覧", users_topics_path(current_user) %>
              </li>
              <li class="nav-list-item">
                <%= link_to "新規登録", new_user_registration_path  %>
              </li>
              <li class="nav-list-item">
                <%= link_to "ログイン", new_user_session_path %>
              </li>
            </ul>
          </nav>
        <% end %>
      </div>
    </div>
  </header>

  <body>
    <%= yield %>
  </body>
</html>
